h1 {
	margin: 50px;
	position: relative;
	left: 50px;
}
#octopus {
	position: absolute;
	top: 110px;
	/*border: 1px solid #ddd;*/
	z-index: -1;
}

div	{
	position: relative;
	/*border: 1px solid #ddd;*/
	width: 210px;
	height: 400px;
	top: 0px;
	margin: auto;
}

#glasses {
	position: absolute;
	left: 42px;
	top: 210px;
	/*border: 1px solid #ddd;*/
	
}
#hat {
	position: absolute;
	left: -20px;
	top: 40px;
	/*border: 1px solid #ddd;*/
	
}